[submodule "PyCParser"]
	path = cparser
    url = https://github.com/tianzhuqiao/PyCParser.git
[submodule "glsurface"]
	path = glsurface
    url = https://github.com/tianzhuqiao/glsurface.git
[submodule "auibarpopup"]
	path = auibarpopup
	url = https://github.com/tianzhuqiao/auibarpopup.git
