[submodule "cparser"]
	path = bsmedit/cparser
    url = https://github.com/tianzhuqiao/PyCParser.git
[submodule "glsurface"]
	path = bsmedit/glsurface
    url = https://github.com/tianzhuqiao/glsurface.git
[submodule "auibarpopup"]
	path = bsmedit/auibarpopup
	url = https://github.com/tianzhuqiao/auibarpopup.git
[submodule "bsmedit/propgrid"]
	path = bsmedit/propgrid
	url = https://github.com/tianzhuqiao/propgrid.git
[submodule "bsmedit/aui"]
	path = bsmedit/aui
	url = https://github.com/tianzhuqiao/aui.git
