[submodule "cparser"]
	path = bsmedit/cparser
    url = https://github.com/tianzhuqiao/PyCParser.git
[submodule "glsurface"]
	path = bsmedit/glsurface
    url = https://github.com/tianzhuqiao/glsurface.git
